version: "3.8"

services:
  postgres-chat:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: chatdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata-chat:/var/lib/postgresql/data

volumes:
  pgdata-chat:
